mat-card{
    max-width: 1200px;
    margin: 2em auto;
    text-align: center;
}
.submit{
    margin:auto;
    display:block;
}
.wrapper {
    text-align: center;
}
.button {
    position: absolute;
    top: 50%;
}