mat-card{
    max-width: 1200px;
    margin: 2em auto;
    text-align: center;
}

.back{
    text-align: center;
}
.create {
    text-align: center;
}
.button {
    position: absolute;
    top: 50%;
}